<!DOCTYPE HTML>
<html>
    <head>
        <style>
            .title{
                font-size: 20px;
            }
            .tagline{
                font-size: 15px;
                margin: 20px;
            }
        </style>
        <title>Awesome Blog</title>
    </head>
    <body>
        <div style='float: right'>
            {% if 'user' in session %}
                {{ session['user'] }}
                <form action="/logout" method="post" id='logout'>
                    <input type="submit" value="Log Out" />
                </form>
            {% else %}
                <a href="login">Login</a> | <a href="signup">Signup</a>
            {% endif %}
        </div>
        <h1>Awesome Blog: Your home for awesome stuff!</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        {% endwith %}
        <a href="/">Home</a>  <a href="/blog">View All Blogs</a>  <a href="/newpost">Add a New Entry</a>
        {% block content %}
        {% endblock %}
    </body>
</html>