{% extends "base.html" %}

{% block content %}

<form action="/newpost" method='POST'>
    <label for="blog-title">Post Title</label></br>
    <input name="blog-title" value="{{blog_title}}" type="text"></br>
    <span class=error>{{title_error}}</span></br>
    <label for="blog-text">Post Body</label></br>
    <input id="writeblog" value="{{blog_body}}" name="blog-text" type="textarea"></br>
    <span class=error>{{body_error}}</span></br>
    <input type="submit" value="Post This Blog">

{% endblock %}